<!-- routify:options preload="proximity" -->

<nav>
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/posts">Posty</a></li>
        <li><a href="/aboutme">O mnie</a></li>
    </ul>
</nav>
<div class="container">
    <slot />
    <!-- zawartość strony -->
</div>
