<script>
    import { metatags } from '@roxi/routify'
    
    metatags.title = 'Svelte&Tailwind example page'
    metatags.description = 'Description coming soon...'
</script>


<h1>Witaj w serwisie!</h1>